// Main color
$primaryColor1              : #339DCC;
$primaryColor2              : #33C1D4;
$primaryColor3              : #62B7D8;
$primaryColor4              : #98C2D1;
$primaryColor5              : #C9E4E8;

$secondaryColor1            : #4E1A3D;
$secondaryColor2            : #ED1556;
$secondaryColor3            : #72C64B;
$secondaryColor4            : #05E0E9;

$hoverColor                 : #0E7BAB;

$blackColor                 : #000000;
$blackColorLight            : #3B3B3B;;
$ebonyColor                 : #44444C;
$grayColor                  : #8C8C8C;
$pewterColor                : #D6D6D6;

$whiteColor                 : #ffffff;
$mutedColor                 : #F3F7F8;



$successColor               : #26de81;
$dangerColor                : #fc5c65;
$warningColor               : #fed330;
$lightColor                 : #999999;
$purpleColor                : #8854d0;



// Neutral color
$neutralPrimary             : #303133;
$neutralRegular             : #606266;
$neutralSecondary           : #909399;
$neutralPlaceholder         : #C0C4CC;


// Border Color
$borderBase                 : #DCDFE6;
$borderLight                : #E4E7ED;
$borderLighter              : #EBEEF5;
$borderLightex              : #F2F6FC;