// Media-queries screen width
$laptopScreen               : 1280px;
$tabletScreen               : 1024px;
$smallTabletScreen          : 768px;
$phoneScreen                : 576px;


// Container width
$desktopContainer           : 1100px;

$laptopContainer            : 900px;
$tabletContainer            : 690px;
$smallTabletContainer       : 540px;
$phoneContainer             : 100%;